# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages of Data Science
- List most used libraries in Data Science
- List some of the Data Science Tools.
- Demonstrate the use of markdown in jupyter notebooks
- Demonstrate the use of python in jupyter notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. dplyr
7. ggplot
8. caret

|Data Science Tools|
--------------------
|Jupyter Labs|
|IBM Watson Studio|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Sebastián Martínez de la Rosa